
.vscode
Packages

# Project Place File
/test.pack.rbxl

# Roblox Studio rbxm files
/*.rbxm
/*.rbxmx

# Roblox Studio Lock Files
/*.rbxlx.lock
/*.rbxl.lock
/*.rbxm.lock

/wally.lock

roblox.toml
roblox.yml

sourcemap.json
.obsidian

build